.gallery__box-scroll {
  border-top: 1px solid #000000;
  padding-top: 20px;
  column-gap: 20px;

}
.page .gallery__box_info {
  justify-content: space-between;
}
.page .gallery__box_info p {
  text-indent: 37%;
}
.page .block p {
  text-indent: 0;
}
.page .gallery__box_info p {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.05em;
  margin-top: 23px;
}
.block {
  display: flex;
}
.gallery__block_loc .block_right {
  max-width: 398px;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.block_right span {
    max-width: 194px;
}
.gallery__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
  margin-bottom: 26px;
  padding: 0 20px;
}
.page .nav {
  padding: 18px 20px 0 33px;
}
.page .header__box {
  padding: 0 20px;
}
.gallery__block_wrap {
}
.gallery__date {
  display: flex;
  justify-content: space-between;
}
.page .gallery__block_date,
.page .gallery__block_loc {
  display: flex;
  margin-bottom: 12px;
  column-gap: 193px;
  padding-top: 13px;
  border-top: 1px solid #000000;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.05em;
}
.page .gallery__block_date {
  width: 24%;
}
.page .gallery__block_loc {
  width: 48%;
}
.page .gallery__box_info {
  justify-content: space-between;
  padding-top: 23px;
}
